<section id="reset-password">
    <div class="row auth-height full-height-vh m-0 d-flex align-items-center justify-content-center">
       <div class="col-md-7 col-12">
          <div class="card overflow-hidden">
             <div class="card-content">
                <div class="card-body auth-img">
                   <div class="row m-0">
                      <div
                         class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                         <img src="assets/img/gallery/forgot.png" alt="" class="img-fluid" width="350" height="230">
                      </div>
                      <div class="col-lg-6 col-md-12 px-4 py-3">
                         <h4 class="card-title mb-2">Форма сброса пароля</h4>
                         <p>Пожалуйста, придумайте новый пароль, который будете знать только вы. Пароль должен содержать не менее 8 символов</p>
                         <form [formGroup]="resetPasswordForm">
                            <div class="form-group">
                               <input type="password" formControlName="password" class="form-control mb-2" placeholder="Пароль"
                                  [ngClass]="{ 'is-invalid': resetPasswordSubmitted && rf.password.invalid, 'is-valid': resetPasswordSubmitted && !rf.password.invalid }"
                                  required>
                               <div *ngIf="resetPasswordSubmitted && (rf.password.errors?.required)"
                                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>Пароль
                                  обязательно для заполнения
                               </div>
                               <div
                                  *ngIf="resetPasswordSubmitted && (!rf.password.errors?.required && rf.password.errors?.minlength)"
                                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Пароль должен
                                  содержать не менее 8 символов
                               </div>
                            </div>
                            <div class="form-group">
                               <input type="password" formControlName="confirmPassword" class="form-control mb-2"
                                  placeholder="Подтвердите пароль"
                                  [ngClass]="{ 'is-invalid': resetPasswordSubmitted && rf.confirmPassword.invalid, 'is-valid': resetPasswordSubmitted && !rf.confirmPassword.invalid }"
                                  required>
                               <div *ngIf="resetPasswordSubmitted && (rf.confirmPassword.errors?.required)"
                                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Подтвердите
                                  пароль
                               </div>
                               <div *ngIf="resetPasswordSubmitted && (rf.confirmPassword.errors?.mustMatch)"
                                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>Пароли не
                                  совпадают
                               </div>
                            </div>
                         </form>
                         <div class="d-flex flex-sm-row flex-column justify-content-between">
                            <button [disabled]="isButtonResetDisabled" class="btn btn-primary ml-sm-1" (click)="resetPassword()">Сбросить</button>
                         </div>
                         <ngx-spinner></ngx-spinner>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>