.break-word {
    white-space: pre-wrap; /* Позволяет переносить строки при наличии \n */
    word-wrap: break-word; /* Переносит длинные слова на следующую строку */
    word-break: break-word; /* Разрывает слова при необходимости */
}