.tab-content .tab-pane {
    padding-top: 20px;
}

.alert {
    padding: 8px;
    margin-bottom: 8px;
}

.center-label {
    text-align: center;
    display: block;
    width: 100%;
  }

  .center-input {
    text-align: center;
  }