<div class="row">
    <div class="col-sm-12">
       <div class="content-header">Форма настройки подключения моста(транка) для подключения к АТС</div>
    </div>
 </div>
 <section id="ngx">
    <div class="card">
       <div class="card-content">
          <div class="card-body">
             <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">
             <aw-wizard-step [stepTitle]="" [navigationSymbol]="{ symbol: '&#xf085;', fontFamily: 'FontAwesome' }">
             <form #personalForm="ngForm" class="editForm" novalidate>
                <h4 class="head text-center">Укажите данные для настройки транка</h4>
                <br/>
                <div class='row'>
                   <div class='col-12'>
                      <div class="row justify-content-center">
                         <div class='col-12 col-sm-2'>
                            <div class="form-group">
                               <label class="form-control-label center-label" for="trunkAuthId">Authentication ID</label>
                               <input class="form-control input-md" ngModel  [(ngModel)]="authId" #trunkAuthId="ngModel" required id="trunkAuthId" name="trunkAuthId" type="text" size="50">
                               <small class="form-text text-muted danger" *ngIf="!trunkAuthId.valid && (trunkAuthId.dirty || trunkAuthId.touched)">Поле обязательно для заполнения!</small>
                            </div>
                         </div>


                         <div class='col-12 col-sm-2'>
                            <div class="form-group">
                               <label class="form-control-label center-label" for="trunkAuthPassword">Пароль</label>
                               <input class="form-control input-md center-input" ngModel  [(ngModel)]="authPassword" #trunkAuthPassword="ngModel" required id="trunkAuthPassword" name="trunkAuthPassword" type="text">
                               <small class="form-text text-muted danger" *ngIf="!trunkAuthPassword.valid && (trunkAuthPassword.dirty || trunkAuthPassword.touched)">Поле обязательно для заполнения!</small>
                            </div>
                         </div>

                         <div class='col-12 col-sm-2'>
                            <div class="form-group">
                               <label class="form-control-label center-label" for="trunkPbxIp">IP АТС</label>
                               <input class="form-control input-md center-input" ngModel  [(ngModel)]="pbxIp" #trunkPbxIp="ngModel" required id="trunkPbxIp" name="trunkPbxIp" type="text">
                               <small class="form-text text-muted danger" *ngIf="!trunkPbxIp.valid && (trunkPbxIp.dirty || trunkPbxIp.touched)">Поле обязательно для заполнения!</small>
                            </div>
                         </div>


                         
                      </div>
                      <div class="form-group text-center">
                         <button uiSref="address" type="button" class="btn btn-info"  awNextStep (click)="addTrunkConfig()">
                         Дальше
                         <span>
                         <i class="ft-chevron-right"></i>
                         </span>
                         </button>
                      </div>
                   </div>
                </div>
                <ngx-spinner></ngx-spinner>
             </form>
             </aw-wizard-step>
             </aw-wizard>
          </div>
       </div>
    </div>
 </section>