<!-- <section id="regestration">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div
                class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-center auth-img-bg py-2">
                <img src="assets/img/gallery/register.png" alt="" class="img-fluid" width="350" height="230">
              </div>
              <div class="col-lg-6 col-md-12 px-4 py-3">
                <h4 class="card-title mb-2">Регистрация CallMagnet</h4>
                <p>Заполните приведенную ниже форму, чтобы создать новую учетную запись.</p>

                <form [formGroup]="registerForm">
                  <div class="form-group">
                    <input type="text" formControlName="name" class="form-control mb-2" placeholder="Имя"
                      [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.name.invalid, 'is-valid': registerFormSubmitted && !rf.name.invalid }"
                      required>
                    <div *ngIf="registerFormSubmitted && (rf.name.invalid || rf.name.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>Имя обязательно
                      для заполнения</div>
                  </div>
                  <div class="form-group">
                    <input type="text" formControlName="lastname" class="form-control mb-2" placeholder="Фамилия"
                      [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.lastname.invalid, 'is-valid': registerFormSubmitted && !rf.lastname.invalid }"
                      required>
                    <div *ngIf="registerFormSubmitted && (rf.lastname.invalid || rf.lastname.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>Фамилия
                      обязательно
                      для заполнения</div>
                  </div>
                  <div class="form-group">
                    <input type="text" formControlName="phone" class="form-control mb-2" placeholder="Телефон"
                      [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.phone.invalid, 'is-valid': registerFormSubmitted && !rf.phone.invalid }"
                      required>
                    <div *ngIf="registerFormSubmitted && (rf.phone.invalid || rf.phone.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>Телефон
                      обязателен
                      для заполнения. Формат 71234567890</div>
                  </div>
                  <div class="form-group">
                    <input type="text" formControlName="companyName" class="form-control mb-2"
                      placeholder="Название компании"
                      [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.companyName.invalid, 'is-valid': registerFormSubmitted && !rf.companyName.invalid }"
                      required>
                    <div *ngIf="registerFormSubmitted && (rf.companyName.invalid || rf.companyName.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>Название компании
                      обязательно
                      для заполнения</div>
                  </div>

                  <div class="form-group" >
                    <ng-select 
                    formControlName="simultaneousCall" 
                    placeholder="Одновременные вызовы" 
                    [items]="simultaneousCalls" 
                    bindLabel="name"  
                    [(ngModel)]="selectedSimultaneousCalls"
                     required>
                    </ng-select>
                    <div *ngIf="registerFormSubmitted && (rf.simultaneousCall.errors?.required)" class="help-block mt-1 text-danger"> 
                      <i class="ft-alert-circle align-middle"></i>Почта обязательно для заполнения</div>
                  </div>


                  <div class="form-group">
                    <input type="email" formControlName="email" class="form-control mb-2" placeholder="Email"
                      [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.email.invalid, 'is-valid': registerFormSubmitted && !rf.email.invalid }"
                      required>
                    <div *ngIf="registerFormSubmitted && (rf.email.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>Почта обязательно
                      для заполнения</div>
                    <div *ngIf="registerFormSubmitted &&  rf.email.errors?.email" class="help-block mt-1 text-danger">
                      <i class="ft-alert-circle align-middle"></i> Адрес электронной почты должен быть действительным
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="password" class="form-control mb-2" placeholder="Пароль"
                      [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.password.invalid, 'is-valid': registerFormSubmitted && !rf.password.invalid }"
                      required>
                    <div *ngIf="registerFormSubmitted && (rf.password.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>Пароль
                      обязательно для заполнения
                    </div>
                    <div
                      *ngIf="registerFormSubmitted && (!rf.password.errors?.required && rf.password.errors?.minlength)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Пароль должен
                      содержать не менее 8 символов
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="confirmPassword" class="form-control mb-2"
                      placeholder="Подтвердите пароль"
                      [ngClass]="{ 'is-invalid': registerFormSubmitted && rf.confirmPassword.invalid, 'is-valid': registerFormSubmitted && !rf.confirmPassword.invalid }"
                      required>
                    <div *ngIf="registerFormSubmitted && (rf.confirmPassword.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Подтвердите
                      пароль

                    </div>
                    <div *ngIf="registerFormSubmitted && (rf.confirmPassword.errors?.mustMatch)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>Пароли не
                      совпадают
                    </div>
                  </div>
                  <div class="d-flex justify-content-between flex-sm-row flex-column">
                    <a [routerLink]="['/login']" class="btn bg-light-primary mb-2 mb-sm-0">На страницу
                      авторизации</a>
                    <a class="btn btn-primary" (click)="onSubmit()">Регистрация</a>
                  </div>
                </form>
                <ngx-spinner></ngx-spinner>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
