
  .table-responsive {
    overflow: visible; /* Убирает прокрутку */
    max-height: none; /* Убирает ограничение по высоте */
  }

  .card {
    width: 100%; /* Задает ширину для карточки */
    overflow: hidden; /* Убирает выезд элементов за границы */
  }
  
  .table {
    table-layout: fixed; /* Фиксированная ширина столбцов */
    width: 100%; /* Таблица занимает всю ширину карточки */
  }
  
//   .table th, .table td {
//     white-space: normal; /* Позволяет переносу текста */
//     word-wrap: break-word; /* Разрывает слова, если они слишком длинные */
//     overflow: hidden; /* Скрывает излишек, если он есть */
//     max-width: 100px; /* Устанавливает максимальную ширину для ячеек (измените по необходимости) */
//   }

  .table th, .table td {
    font-size: 12px; /* Устанавливает меньший размер текста */
    white-space: normal; /* Позволяет переносу текста */
    word-wrap: break-word; /* Разрывает слова, если они слишком длинные */
    overflow: hidden; /* Скрывает излишек, если он есть */
  }